{"openapi":"3.1.0","info":{"title":"Propalt API","description":"Propalt API schema optimised for Custom GPT Actions. Use Bearer token authentication via the Authorization header in the GPT Actions configuration. Replace the server URL with your public Zuplo gateway if needed.","version":"0.1.0"},"servers":[{"url":"https://api.propalt.io","description":"Replace with your public Zuplo gateway base URL"}],"paths":{"/ping":{"get":{"summary":"Health Check","description":"Health check — verifies the API is up and the database is reachable.","operationId":"get_ping","responses":{"200":{"description":"API and database status","content":{"application/json":{"schema":{}}}}},"x-openai-isConsequential":false}},"/audience/selling-property":{"post":{"tags":["Market Activity"],"summary":"Audience Selling Property","description":"Find UK sale listings in one area. Provide exactly one area selector: first_postcode, sector_code_list (max 4), or polygon_str (max 15 sq miles). Use progress and filters for tenure, type, beds, ownership, EPC/tax band, size, dates, price, HMO, accessibility, or retirement; return count or data.","operationId":"post_audience_selling_property","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellingPropertyInput"}}},"required":true},"responses":{"200":{"description":"ListResponse containing count plus matching sale property records. For return_type='count', data is empty; for return_type='data', data contains up to limit SellingPropertyOutput records.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_SellingPropertyOutput_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/audience/letting-property":{"post":{"tags":["Market Activity"],"summary":"Audience Letting Property","description":"Find UK rental listings in one area. Provide exactly one area selector: first_postcode, sector_code_list (max 4), or polygon_str (max 15 sq miles). Use progress and filters for tenure, type, beds, ownership, EPC, size, dates, rent, HMO, accessibility, or retirement; return count or data.","operationId":"post_audience_letting_property","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LettingPropertyInput"}}},"required":true},"responses":{"200":{"description":"ListResponse containing count plus matching letting property records. For return_type='count', data is empty; for return_type='data', data contains up to limit LettingPropertyOutput records.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_LettingPropertyOutput_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/audience/landlords":{"post":{"tags":["Market Activity"],"summary":"Audience Landlords","description":"Find landlord/proprietor audiences for properties in one UK area. Provide one area selector: first_postcode, sector_code_list (max 4), or polygon_str (max 15 sq miles). Filter by area ownership, linked agents, director age/count, portfolio size, proprietor type, purchases, sale/rental listings.","operationId":"post_audience_landlords","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LandlordsInput"}}},"required":true},"responses":{"200":{"description":"ListResponse containing count plus matching landlord records. For return_type='count', data is empty; for return_type='data', data contains up to limit LandlordsOutput records.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_LandlordsOutput_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/location-search/address-lookup":{"get":{"tags":["Location Search"],"summary":"Address Lookup","description":"Use for UK address lookup. Send keyword as a full postcode, outward code, local authority name, or free-text address. Set address to any truthy value to force full-text address search. Returns status and data; each result is an address, postcode, first_postcode, or authority item.","operationId":"get_location_search_address_lookup","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string","maxLength":200,"title":"Keyword"},"description":"Search term. Determines the search strategy: full postcode (e.g. 'SW1A 1AA'), outward code (e.g. 'SW1A'), local authority name (e.g. 'BRISTOL'), or free-text address (e.g. '10 Downing Street'). Special characters other than letters, digits, spaces, commas, hyphens, apostrophes, and periods are stripped.","example":"SW1A 1AA"},{"name":"address","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address"},"description":"When present (any truthy value), forces Typesense full-text address search regardless of keyword format.","example":"1"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","maximum":10},{"type":"null"}],"title":"Limit"},"description":"Max results to return. Typesense default: 7; postcode suggestions default: 10.","example":7}],"responses":{"200":{"description":"List of address, postcode, first_postcode, or authority results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressLookupListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-openai-isConsequential":false}},"/location-search/street-lookup":{"post":{"tags":["Location Search"],"summary":"Street Lookup","description":"Use for UK street or location search when the user provides query text. Returns up to 5 Google Places matches with formatted address, latitude and longitude, and the viewport converted to a closed WKT polygon.","operationId":"post_location_search_street_lookup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreetLookupInput"}}},"required":true},"responses":{"200":{"description":"Top Google Places street/location results with WKT viewport polygons","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_StreetLookupOutput_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/place-area/get-place":{"get":{"tags":["Place & Area"],"summary":"Get Place Data","description":"Retrieve a place record by ID or postcode, enriched with average property floor areas by type.","operationId":"get_place_area_get_place","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"place_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Place Id"},"description":"Internal place ID. Provide either this or postcode, not both.","example":1123811},{"name":"postcode","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}|GIR ?0AA)$"},{"type":"null"}],"title":"Postcode"},"description":"UK postcode, e.g. 'SW1A 1AA'. Provide either this or place_id, not both.","example":"NW3 1AA"}],"responses":{"200":{"description":"Place data with average property sizes by type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlaceOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"404":{"description":"Place not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/place-area/get-nearby-school":{"get":{"tags":["Place & Area"],"summary":"Get Nearby Schools","description":"Find the 20 nearest schools to a postcode or lat/lng location, with full school details.","operationId":"get_place_area_get_nearby_school","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"postcode","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}|GIR ?0AA)$"},{"type":"null"}],"title":"Postcode"},"description":"UK postcode, e.g. 'SW1A 1AA'. Provide either this or lat/lng, not both.","example":"NW3 1AA"},{"name":"lat","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":61.0,"minimum":49.5},{"type":"null"}],"title":"Lat"},"description":"Latitude of the location (UK only). Must be provided together with lng.","example":51.559038},{"name":"lng","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":2.0,"minimum":-8.7},{"type":"null"}],"title":"Lng"},"description":"Longitude of the location (UK only). Must be provided together with lat.","example":-0.177587}],"responses":{"200":{"description":"List of 20 nearest schools with details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetNearbySchoolOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/place-area/get-brandboard":{"get":{"tags":["Place & Area"],"summary":"Get Broadband Data","description":"Retrieve broadband availability, speed, and usage data for a place by ID or postcode.","operationId":"get_place_area_get_brandboard","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"place_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Place Id"},"description":"Internal place ID. Provide either this or postcode, not both.","example":1123811},{"name":"postcode","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}|GIR ?0AA)$"},{"type":"null"}],"title":"Postcode"},"description":"UK postcode, e.g. 'SW1A 1AA'. Provide either this or place_id, not both.","example":"NW3 1AA"}],"responses":{"200":{"description":"Broadband availability and speed data for a place","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBrandboardOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/property/get-property":{"get":{"tags":["Property"],"summary":"Get Property Detail","description":"Retrieve detailed property information by property_id, uprn, or udprn.","operationId":"get_property_get_property","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"property_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Property Id"},"description":"Internal property ID. Provide exactly one of property_id, uprn, or udprn.","example":19436848},{"name":"uprn","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Uprn"},"description":"Unique Property Reference Number (OS). Provide exactly one of property_id, uprn, or udprn.","example":100021234567},{"name":"udprn","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Udprn"},"description":"Unique Delivery Point Reference Number (Royal Mail). Provide exactly one of property_id, uprn, or udprn.","example":17679500}],"responses":{"200":{"description":"Detailed property data with address, valuation, EPC, and title info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPropertyOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/property/get-epc-fabric-by-property-id":{"get":{"tags":["Property"],"summary":"Get EPC Fabric By Property ID","description":"Retrieve EPC fabric data (energy performance, building characteristics, costs) by property_id.","operationId":"get_property_get_epc_fabric_by_property_id","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"property_id","in":"query","required":true,"schema":{"type":"integer","title":"Property Id"},"description":"Property unique identifier.","example":19436848}],"responses":{"200":{"description":"EPC fabric data for a property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEpcFabricOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/property/get-epc-fabric-by-postcode":{"get":{"tags":["Property"],"summary":"Get EPC Fabric By Postcode","description":"Retrieve EPC fabric data (energy performance, building characteristics, costs) by postcode.","operationId":"get_property_get_epc_fabric_by_postcode","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"postcode","in":"query","required":true,"schema":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}|GIR ?0AA)$","title":"Postcode"},"description":"UK postcode, e.g. 'SW1A 1AA'.","example":"NW3 1AA"}],"responses":{"200":{"description":"EPC fabric data for a postcode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEpcFabricOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-analytics/get-analysis-data":{"get":{"tags":["Market & Analytics"],"summary":"Get Regional Analysis","description":"Retrieve regional analysis data (property characteristics, energy costs, dwelling counts) by postcode outward code.","operationId":"get_market_analytics_get_analysis_data","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"first_postcode","in":"query","required":true,"schema":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$","title":"First Postcode"},"description":"UK postcode outward code (e.g. 'SW1A', 'B33'). 1-2 letters followed by 1 digit and optional letter/digit.","example":"SW18"}],"responses":{"200":{"description":"Regional analysis data for a postcode outward code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAnalysisDataOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-analytics/get-quarterly-market-analysis":{"get":{"tags":["Market & Analytics"],"summary":"Get Quarterly Market Analysis","description":"Retrieve quarterly market analysis data (listings, sales, prices, SSTC times, reductions) by postcode outward code.","operationId":"get_market_analytics_get_quarterly_market_analysis","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"first_postcode","in":"query","required":true,"schema":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$","title":"First Postcode"},"description":"UK postcode outward code (e.g. 'SW1A', 'B33'). 1-2 letters followed by 1 digit and optional letter/digit.","example":"SW18"},{"name":"return_national","in":"query","required":false,"schema":{"type":"string","pattern":"^[yn]$","default":"n","title":"Return National"},"description":"Whether to include national statistics for comparison. 'y' or 'n'.","example":"n"}],"responses":{"200":{"description":"Quarterly market analysis data by postcode district","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetQuarterlyMarketAnalysisOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-analytics/get-monthly-market-analysis":{"get":{"tags":["Market & Analytics"],"summary":"Get Monthly Market Analysis","description":"Retrieve monthly market analysis data (listings, sales, prices, SSTC times, reductions) by postcode outward code.","operationId":"get_market_analytics_get_monthly_market_analysis","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"first_postcode","in":"query","required":true,"schema":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$","title":"First Postcode"},"description":"UK postcode outward code (e.g. 'SW1A', 'B33'). 1-2 letters followed by 1 digit and optional letter/digit.","example":"SW18"},{"name":"return_national","in":"query","required":false,"schema":{"type":"string","pattern":"^[yn]$","default":"n","title":"Return National"},"description":"Whether to include national statistics for comparison. 'y' or 'n'.","example":"n"}],"responses":{"200":{"description":"Monthly market analysis data by postcode district","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMonthlyMarketAnalysisOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-analytics/get-distribution-graph-data":{"get":{"tags":["Market & Analytics"],"summary":"Get Price Distribution","description":"Get selling valuation distribution graph data for a postcode outward code.","operationId":"get_market_analytics_get_distribution_graph_data","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"first_postcode","in":"query","required":true,"schema":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$","title":"First Postcode"},"description":"UK postcode outward code (e.g. 'SW1A', 'B33'). 1-2 letters followed by 1 digit and optional letter/digit.","example":"SW18"}],"responses":{"200":{"description":"Distribution graph data with dynamic and fixed price buckets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDistributionGraphDataOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-activity/get-hpi":{"get":{"tags":["Market Activity"],"summary":"Get House Price Index","description":"Retrieve UK House Price Index data for a postcode at Authority or Region geographic level.","operationId":"get_market_activity_get_hpi","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"postcode","in":"query","required":true,"schema":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}|GIR ?0AA)$","title":"Postcode"},"description":"Full UK postcode, e.g. 'CF10 1AA'","example":"SW18 1AA"},{"name":"statistic_region","in":"query","required":false,"schema":{"enum":["Authority","Region"],"type":"string","default":"Authority","title":"Statistic Region"},"description":"Geographic level: 'Authority' (e.g. Cardiff) or 'Region' (e.g. Wales).","example":"Authority"},{"name":"statistic_time","in":"query","required":false,"schema":{"type":"integer","maximum":10,"minimum":1,"default":3,"title":"Statistic Time"},"description":"Number of years of data to return (1-10). Default 3.","example":3}],"responses":{"200":{"description":"UK House Price Index data by postcode at Authority or Region level","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHpiOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-activity/get-sold-properties":{"get":{"tags":["Market Activity"],"summary":"Get Sold Properties","description":"Retrieve sold property records by outward code or full postcode.","operationId":"get_market_activity_get_sold_properties","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"first_postcode","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$"},{"type":"null"}],"title":"First Postcode"},"description":"Outward code (first part of postcode), e.g. 'SW1A'. Provide either this or postcode, not both.","example":"SW18"},{"name":"postcode","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}|GIR ?0AA)$"},{"type":"null"}],"title":"Postcode"},"description":"Full UK postcode, e.g. 'SW1A 1AA'. Provide either this or first_postcode, not both.","example":"SW18 1AA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Limit"},"description":"Maximum number of results to return (max 100).","example":50},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Page"},"description":"Page offset (0-based).","example":0}],"responses":{"200":{"description":"Sold property records for a postcode area","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSoldPropertiesOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/market-activity/get-property-history":{"get":{"tags":["Market Activity"],"summary":"Get Property History","description":"Retrieve full event history for a property by property_id.","operationId":"get_market_activity_get_property_history","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"property_id","in":"query","required":true,"schema":{"type":"integer","title":"Property Id"},"description":"Internal id allocated to a property.","example":19436848}],"responses":{"200":{"description":"Property event history including sales, listings, and status changes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPropertyHistoryOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/organisation/get-leaseholds":{"get":{"tags":["Organisation"],"summary":"Get Leaseholds","description":"Retrieve leasehold records for a property by property ID.","operationId":"get_organisation_get_leaseholds","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"property_id","in":"query","required":true,"schema":{"type":"integer","title":"Property Id"},"description":"Property unique identifier","example":19436848}],"responses":{"200":{"description":"Leasehold records for a property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLeaseholdsOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/organisation/get-agent":{"get":{"tags":["Organisation"],"summary":"Get Agent","description":"Retrieve estate agent branches by first_postcode or brand_id with pagination.","operationId":"get_organisation_get_agent","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"first_postcode","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":2,"maxLength":4,"pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$"},{"type":"null"}],"title":"First Postcode"},"description":"Outward postcode (first part) of the agent branch.","example":"NW3"},{"name":"brand_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":35,"pattern":"^[a-zA-Z0-9_]+$"},{"type":"null"}],"title":"Brand Id"},"description":"Brand identifier for the agent group.","example":"f9151de80f9f504f582a3e94573f00e8_RM"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Limit"},"description":"Maximum number of results to return.","example":100},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Page"},"description":"Page number for pagination (0-based).","example":0}],"responses":{"200":{"description":"Agent branches matching the filter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAgentOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"x-openai-isConsequential":false}},"/comparables/get-comparable":{"post":{"tags":["Comparables"],"summary":"Get Comparable Properties","description":"Retrieve comparable properties from the external comparables API.","operationId":"post_comparables_get_comparable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetComparableInput"}}},"required":true},"responses":{"200":{"description":"Comparable properties matching the query","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetComparableOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"502":{"description":"External comparables API error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/comparables/get-comparable-by-property-id":{"post":{"tags":["Comparables"],"summary":"Get Comparable Properties By Property ID","description":"Look up property features by property_id, merge with client overrides, and retrieve comparable properties.","operationId":"post_comparables_get_comparable_by_property_id","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetComparableByPropertyIdInput"}}},"required":true},"responses":{"200":{"description":"Subject property features and comparable properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetComparableByPropertyIdOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"404":{"description":"Property not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error or missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"502":{"description":"External comparables API error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/valuation/get-valuation-by-property-id":{"post":{"tags":["Valuation"],"summary":"Get Valuation By Property ID","description":"Look up property features by property_id, merge with client overrides, and retrieve AVM valuation.","operationId":"post_valuation_get_valuation_by_property_id","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetValuationByPropertyIdInput"}}},"required":true},"responses":{"200":{"description":"Valuation result with prediction bands","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetValuationByPropertyIdOutput"}}}},"401":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"404":{"description":"Property not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"422":{"description":"Validation error or missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}},"502":{"description":"External valuation API error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorOutput"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}},"/property/v2/get-properties":{"post":{"tags":["Property"],"summary":"Get Properties V2","description":"Find UK residential properties in one area. Provide exactly one area selector: first_postcode, sector_code_list (max 4), or polygon_str (max 15 sq miles). Filter by tenure, type, beds, ownership, EPC/tax band, size, urban/density, valuation, sold date, activity windows, or latest event.","operationId":"post_property_v2_get_properties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NationalPropertySearchApiInput"}}},"required":true},"responses":{"200":{"description":"ListResponse containing count plus matching property records. For return_type='count', data is empty; for return_type='data', data contains up to limit NationalPropertySearchApiOutput records.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_NationalPropertySearchApiOutput_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}],"x-openai-isConsequential":false}}},"components":{"schemas":{"AddressLookupListResponse":{"properties":{"status":{"type":"string","title":"Status","description":"Always \"OK\" on success.","examples":["OK"]},"data":{"items":{"$ref":"#/components/schemas/AddressLookupOutput"},"type":"array","title":"Data","description":"List of address, postcode, first_postcode, or authority results.","examples":[[{"lat":51.5034,"lng":-0.1276,"property_id":"12345","text":"10 Downing Street, Westminster, SW1A 2AA","type":"address"}]]}},"type":"object","required":["status","data"],"title":"AddressLookupListResponse","description":"Full response wrapper for address_lookup endpoint.","examples":[{"data":[{"lat":51.5034,"lng":-0.1276,"property_id":"12345","text":"10 Downing Street, Westminster, SW1A 2AA","type":"address"}],"status":"OK"}]},"AddressLookupOutput":{"properties":{"type":{"type":"string","title":"Type","description":"Result type: \"address\", \"postcode\", \"first_postcode\", or \"authority\".","examples":["address"]},"text":{"type":"string","title":"Text","description":"Formatted display text. For addresses: title-cased with postcode uppercase. For postcodes: full postcode string. For first_postcode: outward code. For authority: local authority name.","examples":["10 Downing Street, Westminster, SW1A 2AA"]},"property_id":{"anyOf":[{"type":"integer"},{"type":"string"},{"type":"null"}],"title":"Property Id","description":"Internal property ID. Present for address type only; may be null for unmatched listings.","examples":[12345]},"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat","description":"Latitude of the property. Present for Typesense address results only.","examples":[51.5034]},"lng":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lng","description":"Longitude of the property. Present for Typesense address results only.","examples":[-0.1276]}},"type":"object","required":["type","text"],"title":"AddressLookupOutput","description":"A single result item returned in the data array of address_lookup (documentation only).\nResult type determines which fields are populated.","examples":[{"lat":51.5034,"lng":-0.1276,"property_id":"12345","text":"10 Downing Street, Westminster, SW1A 2AA","type":"address"}]},"ErrorOutput":{"properties":{"error":{"type":"string","title":"Error","description":"Human-readable error message","examples":["Property not found for the given identifier."]},"code":{"type":"string","title":"Code","description":"Machine-readable error code","examples":["NOT_FOUND","VALIDATION_ERROR","UNAUTHORIZED"]}},"type":"object","required":["error","code"],"title":"ErrorOutput","description":"Standard error response for all endpoints.","examples":[{"code":"NOT_FOUND","error":"Property not found for the given identifier."}]},"GetAgentOutput":{"properties":{"agent_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Agent Name","description":"Name of the estate agent branch.","examples":["Dexters Hampstead"],"mysql_type":"VARCHAR(255)"},"first_postcode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Postcode","description":"Outward postcode of the agent branch.","examples":["NW3"],"mysql_type":"VARCHAR(4)"},"branch_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Address","description":"Full address of the agent branch.","examples":["56 Heath Street, London, NW3 1DL"],"mysql_type":"VARCHAR(255)"},"forSale_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Forsale Count","description":"Number of properties currently listed for sale by this branch.","examples":[44],"mysql_type":"INT"},"forLet_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Forlet Count","description":"Number of properties currently listed for let by this branch.","examples":[10],"mysql_type":"INT"},"brand_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Brand Id","description":"Brand identifier for the agent group.","examples":["deda31eb002e9b4b7b1ed255c7e3a840_RM"],"mysql_type":"VARCHAR(35)"}},"type":"object","title":"GetAgentOutput","description":"Output schema for get_agent endpoint (documentation only).\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"agent_name":"Dexters Hampstead","branch_address":"56 Heath Street, London, NW3 1DL","brand_id":"deda31eb002e9b4b7b1ed255c7e3a840_RM","first_postcode":"NW3","forLet_count":10,"forSale_count":44}]},"GetAnalysisDataOutput":{"properties":{"first_posctode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Posctode","description":"The primary outward code of the UK postcode (e.g., SW1A) used for regional aggregation.","examples":["NW3"],"mysql_type":"VARCHAR(8)"},"number_of_bedrooms":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Number Of Bedrooms","description":"Mean count of bedrooms for residential properties within the specified sector.","examples":[2.8],"mysql_type":"DOUBLE"},"number_of_bathrooms":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Number Of Bathrooms","description":"Mean count of bathrooms for residential properties within the specified sector.","examples":[1.4],"mysql_type":"DOUBLE"},"number_of_reception_rooms":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Number Of Reception Rooms","description":"Mean count of reception rooms (lounges, dining rooms) within the specified sector.","examples":[1.2],"mysql_type":"DOUBLE"},"total_floor_area":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Floor Area","description":"Average Gross Internal Area (GIA) in square metres, measured per RICS professional standards.","examples":[78.5],"mysql_type":"DOUBLE"},"current_energy_rating":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Energy Rating","description":"Current Energy Performance Certificate (EPC) rating, ranging from A (high) to G (low).","examples":["D"],"mysql_type":"VARCHAR(2)"},"lighting_cost_current":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lighting Cost Current","description":"Estimated annual cost (GBP) for property lighting based on current energy prices.","examples":[88.5],"mysql_type":"DOUBLE"},"heating_cost_current":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Heating Cost Current","description":"Estimated annual cost (GBP) for space heating based on current energy prices.","examples":[645.2],"mysql_type":"DOUBLE"},"hot_water_cost_current":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Hot Water Cost Current","description":"Estimated annual cost (GBP) for domestic hot water based on current energy prices.","examples":[172.8],"mysql_type":"DOUBLE"},"construction_age_band":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Construction Age Band","description":"Categorical age range of the property's original construction (e.g., '2007 onwards').","examples":["1900-1929"],"mysql_type":"VARCHAR(20)"},"average_download_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Average Download Speed","description":"Mean fixed-line broadband download speed (Mbps) recorded within the sector.","examples":[82.5],"mysql_type":"DOUBLE"},"D_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"D Count","description":"Total count of Detached residential dwellings within the area.","examples":[320],"mysql_type":"INT"},"S_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"S Count","description":"Total count of Semi-Detached residential dwellings within the area.","examples":[580],"mysql_type":"INT"},"T_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"T Count","description":"Total count of Terraced residential dwellings within the area.","examples":[1250],"mysql_type":"INT"},"F_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"F Count","description":"Total count of Flats or maisonettes within the area.","examples":[3800],"mysql_type":"INT"}},"type":"object","title":"GetAnalysisDataOutput","description":"Output schema for get_analysis_data endpoint (documentation only).\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"D_count":320,"F_count":3800,"S_count":580,"T_count":1250,"average_download_speed":82.5,"construction_age_band":"1900-1929","current_energy_rating":"D","first_posctode":"NW3","heating_cost_current":645.2,"hot_water_cost_current":172.8,"lighting_cost_current":88.5,"number_of_bathrooms":1.4,"number_of_bedrooms":2.8,"number_of_reception_rooms":1.2,"total_floor_area":78.5}]},"GetBrandboardOutput":{"properties":{"sfbb_availability":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sfbb Availability","description":"Availability ratio of super fast broadband.","examples":[98],"mysql_type":"INT(11)"},"ufbb_availability":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Ufbb Availability","description":"Availability ratio of ultra fast broadband.","examples":[72],"mysql_type":"INT(11)"},"permises_unable_2mbps":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Permises Unable 2Mbps","description":"Premises unable to achieve 2mbps speed.","examples":[0],"mysql_type":"INT(11)"},"permises_unable_5mbps":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Permises Unable 5Mbps","description":"Premises unable to achieve 5mbps speed.","examples":[0],"mysql_type":"INT(11)"},"permises_unable_10mbps":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Permises Unable 10Mbps","description":"Premises unable to achieve 10mbps speed.","examples":[1],"mysql_type":"INT(11)"},"median_download_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Median Download Speed","description":"Median download speeds.","examples":["67.3"],"mysql_type":"VARCHAR(50)"},"average_download_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Average Download Speed","description":"Avg download speeds.","examples":["82.5"],"mysql_type":"VARCHAR(50)"},"min_download_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Min Download Speed","description":"Min download speeds.","examples":["11.2"],"mysql_type":"VARCHAR(50)"},"max_download_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Max Download Speed","description":"Max download speeds.","examples":["362.8"],"mysql_type":"VARCHAR(50)"},"avg_download_speed_lines":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Download Speed Lines","description":"Avg download speeds.","examples":["78.4"],"mysql_type":"VARCHAR(50)"},"avg_download_speed_basic":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Download Speed Basic","description":"Avg basic download speeds.","examples":["8.6"],"mysql_type":"VARCHAR(50)"},"avg_download_speed_sfbb":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Download Speed Sfbb","description":"Avg SFBB download speeds.","examples":["52.1"],"mysql_type":"VARCHAR(50)"},"avg_download_speed_ufbb":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Download Speed Ufbb","description":"Avg UFBB download speeds.","examples":["285.3"],"mysql_type":"VARCHAR(50)"},"median_upload_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Median Upload Speed","description":"Median upload speeds.","examples":["18.2"],"mysql_type":"VARCHAR(50)"},"avg_upload_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Upload Speed","description":"Avg upload speeds.","examples":["24.6"],"mysql_type":"VARCHAR(50)"},"min_upload_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Min Upload Speed","description":"Min upload speeds.","examples":["0.8"],"mysql_type":"VARCHAR(50)"},"max_upload_speed":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Max Upload Speed","description":"Max upload speeds.","examples":["36.4"],"mysql_type":"VARCHAR(50)"},"avg_upload_speed_lines":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Upload Speed Lines","description":"Avg upload speeds.","examples":["22.1"],"mysql_type":"VARCHAR(50)"},"avg_upload_speed_basic":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Upload Speed Basic","description":"Avg basic upload speeds.","examples":["0.9"],"mysql_type":"VARCHAR(50)"},"avg_upload_speed_sfbb":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Upload Speed Sfbb","description":"Avg SFBB upload speeds.","examples":["12.5"],"mysql_type":"VARCHAR(50)"},"avg_upload_speed_ufbb":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Upload Speed Ufbb","description":"Avg UFBB upload speeds.","examples":["34.8"],"mysql_type":"VARCHAR(50)"},"no_of_connection_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"No Of Connection 2","description":"Number of connections to 2mbps.","examples":["4520"],"mysql_type":"VARCHAR(50)"},"no_of_connection_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"No Of Connection 5","description":"Number of connections to 5mbps.","examples":["4510"],"mysql_type":"VARCHAR(50)"},"no_of_connection_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"No Of Connection 10","description":"Number of connections to 10mbps.","examples":["4480"],"mysql_type":"VARCHAR(50)"},"no_of_connection_30":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"No Of Connection 30","description":"Number of connections to 30mbps.","examples":["4120"],"mysql_type":"VARCHAR(50)"},"no_of_connection_30_plus":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"No Of Connection 30 Plus","description":"Number of connections to over 30mbps.","examples":["3980"],"mysql_type":"VARCHAR(50)"},"no_of_connection_300_plus":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"No Of Connection 300 Plus","description":"Number of connections to 300mbps.","examples":["1250"],"mysql_type":"VARCHAR(50)"},"avg_data_usage":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Data Usage","description":"Average mb data usage per month.","examples":["312.5"],"mysql_type":"VARCHAR(50)"},"avg_data_usage_lines":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Data Usage Lines","description":"Average mb line data usage per month.","examples":["298.4"],"mysql_type":"VARCHAR(50)"},"avg_data_usage_basic":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Data Usage Basic","description":"Average mb basic data usage per month.","examples":["85.6"],"mysql_type":"VARCHAR(50)"},"avg_data_usage_sfbb":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Data Usage Sfbb","description":"Average mb SFBB data usage per month.","examples":["320.1"],"mysql_type":"VARCHAR(50)"},"avg_data_usage_ufbb":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Data Usage Ufbb","description":"Average mb data UFBB usage per month.","examples":["510.8"],"mysql_type":"VARCHAR(50)"},"fttp_availability":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fttp Availability","description":"FTTP availability (1 = true, 0 = false).","examples":["1"],"mysql_type":"VARCHAR(10)"}},"type":"object","title":"GetBrandboardOutput","description":"Output schema for get_brandboard endpoint (documentation only).\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"average_download_speed":"82.5","avg_data_usage":"312.5","avg_data_usage_basic":"85.6","avg_data_usage_lines":"298.4","avg_data_usage_sfbb":"320.1","avg_data_usage_ufbb":"510.8","avg_download_speed_basic":"8.6","avg_download_speed_lines":"78.4","avg_download_speed_sfbb":"52.1","avg_download_speed_ufbb":"285.3","avg_upload_speed":"24.6","avg_upload_speed_basic":"0.9","avg_upload_speed_lines":"22.1","avg_upload_speed_sfbb":"12.5","avg_upload_speed_ufbb":"34.8","fttp_availability":"1","max_download_speed":"362.8","max_upload_speed":"36.4","median_download_speed":"67.3","median_upload_speed":"18.2","min_download_speed":"11.2","min_upload_speed":"0.8","no_of_connection_10":"4480","no_of_connection_2":"4520","no_of_connection_30":"4120","no_of_connection_300_plus":"1250","no_of_connection_30_plus":"3980","no_of_connection_5":"4510","permises_unable_10mbps":1,"permises_unable_2mbps":0,"permises_unable_5mbps":0,"sfbb_availability":98,"ufbb_availability":72}]},"GetComparableByPropertyIdInput":{"properties":{"property_id":{"type":"integer","title":"Property Id","description":"Propalt inner property key.","examples":[23360841]},"postcode":{"anyOf":[{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]?)$"},{"type":"null"}],"title":"Postcode","description":"Outward postcode only (e.g. 'SA11', 'NW3'). Case-insensitive. Overrides DB value if provided.","examples":["SA11"]},"type":{"type":"string","enum":["selling","letting"],"title":"Type","description":"Query type: 'selling' for sales comparables, 'letting' for rental comparables.","default":"selling","examples":["selling"]},"num_beds":{"anyOf":[{"type":"integer","maximum":20.0,"minimum":1.0},{"type":"null"}],"title":"Num Beds","description":"Number of bedrooms (1–20). Overrides DB value if provided.","examples":[3]},"total_floor_area":{"anyOf":[{"type":"integer","maximum":600.0,"minimum":10.0},{"type":"null"}],"title":"Total Floor Area","description":"Total floor area in square metres (10–600). Overrides DB value if provided.","examples":[86]},"property_type":{"anyOf":[{"type":"string","enum":["bungalow","house","flat"]},{"type":"null"}],"title":"Property Type","description":"Property type. Overrides DB value if provided.","examples":["house"]},"built_form":{"anyOf":[{"type":"string","enum":["detached","semi_detached","terraced","flat","maisonette","studio"]},{"type":"null"}],"title":"Built Form","description":"Built form / sub-type. Overrides DB value if provided.","examples":["semi_detached"]},"return_amount":{"type":"integer","maximum":30.0,"minimum":5.0,"title":"Return Amount","description":"Number of comparable properties to return (5–30).","default":10,"examples":[10]},"current_status":{"type":"integer","maximum":4.0,"minimum":0.0,"title":"Current Status","description":"Status filter: 0=All, 1=For sale/rent, 2=Reduction, 3=Sold/Let, 4=Archive.","default":0,"examples":[0]}},"type":"object","required":["property_id"],"title":"GetComparableByPropertyIdInput","description":"Input for get_comparable_by_property_id endpoint.\n\nLooks up property features from DB by property_id, then merges with\noptional client overrides (client values take priority when not null).\n\nCross-validation rules (applied after DB merge in the endpoint):\n- If property_type is 'bungalow' or 'house', built_form must be one of: detached, semi_detached, terraced.\n- If property_type is 'flat', built_form must be one of: flat, maisonette, studio.\n\nNote on postcode: accepts outward code only (e.g. 'SA11', 'NW3'), case-insensitive.","examples":[{"property_id":23360841},{"current_status":0,"num_beds":4,"property_id":23360841,"return_amount":10,"type":"selling"},{"built_form":"semi_detached","current_status":1,"num_beds":3,"postcode":"SA11","property_id":23360841,"property_type":"house","return_amount":15,"total_floor_area":86,"type":"letting"}]},"GetComparableByPropertyIdOutput":{"properties":{"subject_property_feature":{"$ref":"#/components/schemas/SubjectPropertyFeature","description":"The subject property features used for the comparable search."},"similar_comparable_properties":{"items":{"$ref":"#/components/schemas/GetComparableOutput"},"type":"array","title":"Similar Comparable Properties","description":"List of comparable properties matching the search criteria.","examples":[[{"HMO_property":false,"address1":"65 Giants Grave Road Briton Ferry","address_id":23360816,"auction_property":false,"branch_name":"Neath","brand_id":"257248922834b8416908517c6946d153_RM","brand_name":"Peter Alan","built_form":"semi_detached","cluster_id":8754355,"construction_age_band_std":"before 1900","current_energy_rating":"D","current_status":"Archive_from_sold","discount_property":false,"distance":0.3204,"first_listed_date":"2024-06-13","image_url":"https://housevault-images.s3.eu-west-2.amazonaws.com/selling_property/house_selling_image/149097560_RMP.jpg","investment_property":false,"land_register_discount":1.008,"land_register_sold_date":"2022-10-20","land_register_sold_price":126000,"lat":51.6387512,"latest_event_date":"2025-09-13","listing_id":"149097560RS","lng":-3.8269186,"num_beds":3,"number_of_bathrooms":1,"number_of_reception_rooms":1,"owned_by_company":false,"plot_size":78,"portal":"Rightmove","portal_images":"https://media.rightmove.co.uk:443/dir/crop/10:9-16:9/64k/63605/149097560/63605_NTH307526_IMG_08_0000_max_476x317.jpeg","portal_url":"www.rightmove.co.uk/properties/149097560","postcode":"SA11 2LN","price":105000,"price_per_bedroom":35000,"price_per_sqm":1346,"probate_property":false,"property_type":"house","similarity":41.0,"sold_date":"2025-05-17","street_name":"Giants Grave Road","tenure":"Freehold","time_to_sell":338,"title_number_list":[],"total_floor_area":78,"uprn":100100596913}]]},"count":{"type":"integer","title":"Count","description":"Number of comparable properties returned.","examples":[10]}},"type":"object","required":["subject_property_feature","similar_comparable_properties","count"],"title":"GetComparableByPropertyIdOutput","description":"Output schema for get_comparable_by_property_id endpoint (documentation only).\nReuses GetComparableOutput for comparable items — same external API response.\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"count":10,"similar_comparable_properties":[{"HMO_property":false,"address1":"65 Giants Grave Road Briton Ferry","address_id":23360816,"auction_property":false,"branch_name":"Neath","brand_id":"257248922834b8416908517c6946d153_RM","brand_name":"Peter Alan","built_form":"semi_detached","cluster_id":8754355,"construction_age_band_std":"before 1900","current_energy_rating":"D","current_status":"Archive_from_sold","discount_property":false,"distance":0.3204,"first_listed_date":"2024-06-13","image_url":"https://housevault-images.s3.eu-west-2.amazonaws.com/selling_property/house_selling_image/149097560_RMP.jpg","investment_property":false,"land_register_discount":1.008,"land_register_sold_date":"2022-10-20","land_register_sold_price":126000,"lat":51.6387512,"latest_event_date":"2025-09-13","listing_id":"149097560RS","lng":-3.8269186,"num_beds":3,"number_of_bathrooms":1,"number_of_reception_rooms":1,"owned_by_company":false,"plot_size":78,"portal":"Rightmove","portal_images":"https://media.rightmove.co.uk:443/dir/crop/10:9-16:9/64k/63605/149097560/63605_NTH307526_IMG_08_0000_max_476x317.jpeg","portal_url":"www.rightmove.co.uk/properties/149097560","postcode":"SA11 2LN","price":105000,"price_per_bedroom":35000,"price_per_sqm":1346,"probate_property":false,"property_type":"house","similarity":41.0,"sold_date":"2025-05-17","street_name":"Giants Grave Road","tenure":"Freehold","time_to_sell":338,"title_number_list":[],"total_floor_area":78,"uprn":100100596913}],"subject_property_feature":{"built_form":"semi_detached","num_beds":3,"postcode":"SA11 2LR","property_id":23360841,"property_type":"house","query_type":"selling","total_floor_area":86}}]},"GetComparableInput":{"properties":{"postcode":{"type":"string","pattern":"^([A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2})$","title":"Postcode","description":"Full UK postcode, e.g. 'SA11 2LR', 'NW3 5HT'.","examples":["SA11 2LR"]},"type":{"type":"string","enum":["selling","letting"],"title":"Type","description":"Query type: 'selling' for sales comparables, 'letting' for rental comparables.","default":"selling","examples":["selling"]},"num_beds":{"type":"integer","maximum":20.0,"minimum":1.0,"title":"Num Beds","description":"Number of bedrooms (1–20).","examples":[3]},"total_floor_area":{"anyOf":[{"type":"integer","maximum":600.0,"minimum":10.0},{"type":"null"}],"title":"Total Floor Area","description":"Total floor area in square metres (10–600). Optional.","examples":[78]},"property_type":{"type":"string","enum":["bungalow","house","flat"],"title":"Property Type","description":"Property type.","examples":["house"]},"built_form":{"type":"string","enum":["detached","semi_detached","terraced","flat","maisonette","studio"],"title":"Built Form","description":"Built form / sub-type of the property.","examples":["semi_detached"]},"return_amount":{"type":"integer","maximum":30.0,"minimum":5.0,"title":"Return Amount","description":"Number of comparable properties to return (5–30).","default":10,"examples":[10]},"current_status":{"type":"integer","maximum":4.0,"minimum":0.0,"title":"Current Status","description":"Status filter: 0=All, 1=For sale/rent, 2=Reduction, 3=Sold/Let, 4=Archive.","default":0,"examples":[0]}},"type":"object","required":["postcode","num_beds","property_type","built_form"],"title":"GetComparableInput","description":"Input for get_comparable endpoint.\n\nCross-validation rules:\n- If property_type is 'bungalow' or 'house', built_form must be one of: detached, semi_detached, terraced.\n- If property_type is 'flat', built_form must be one of: flat, maisonette, studio.","examples":[{"built_form":"semi_detached","current_status":0,"num_beds":3,"postcode":"SA11 2LR","property_type":"house","return_amount":10,"total_floor_area":78,"type":"selling"},{"built_form":"flat","num_beds":2,"postcode":"SA2 7QN","property_type":"flat","total_floor_area":66},{"built_form":"detached","current_status":1,"num_beds":5,"postcode":"SA2 9HS","property_type":"house","return_amount":15,"total_floor_area":241,"type":"selling"}]},"GetComparableOutput":{"properties":{"address_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Address Id","description":"Address identifier in the property database.","examples":[23360816]},"property_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Property Type","description":"Property type (e.g. house, flat, bungalow).","examples":["house"]},"built_form":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Built Form","description":"Built form (e.g. semi_detached, detached, terraced).","examples":["semi_detached"]},"num_beds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Num Beds","description":"Number of bedrooms.","examples":[3]},"postcode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postcode","description":"Full UK postcode of the comparable property.","examples":["SA11 2LN"]},"price":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Price","description":"Listing or sold price in GBP.","examples":[105000]},"distance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Distance","description":"Distance from the query postcode in km.","examples":[0.3204]},"similarity":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Similarity","description":"Similarity score (0–100) indicating how closely the property matches the query.","examples":[41.0]},"total_floor_area":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Total Floor Area","description":"Total floor area in square metres.","examples":[78]},"plot_size":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Plot Size","description":"Plot size in square metres.","examples":[78]},"price_per_sqm":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Price Per Sqm","description":"Price per square metre in GBP.","examples":[1346]},"price_per_bedroom":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Price Per Bedroom","description":"Price per bedroom in GBP.","examples":[35000]},"tenure":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tenure","description":"Tenure type (e.g. Freehold, Leasehold).","examples":["Freehold"]},"number_of_bathrooms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Number Of Bathrooms","description":"Number of bathrooms.","examples":[1]},"number_of_reception_rooms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Number Of Reception Rooms","description":"Number of reception rooms.","examples":[1]},"first_listed_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Listed Date","description":"Date the property was first listed.","examples":["2024-06-13"]},"sold_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sold Date","description":"Date the property was sold (portal data).","examples":["2025-05-17"]},"land_register_sold_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Land Register Sold Date","description":"Date recorded in the Land Registry.","examples":["2022-10-20"]},"land_register_sold_price":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Land Register Sold Price","description":"Price recorded in the Land Registry in GBP.","examples":[126000]},"land_register_discount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Land Register Discount","description":"Ratio of land registry price to listing price.","examples":[1.008]},"latest_event_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Latest Event Date","description":"Date of the most recent event for this property.","examples":["2025-09-13"]},"time_to_sell":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Time To Sell","description":"Days from first listing to sold date.","examples":[338]},"current_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Status","description":"Current listing status (e.g. Sold, Archive_from_sold, For_sale).","examples":["Archive_from_sold"]},"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat","description":"Latitude coordinate.","examples":[51.6387512]},"lng":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lng","description":"Longitude coordinate.","examples":[-3.8269186]},"uprn":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Uprn","description":"Unique Property Reference Number.","examples":[100100596913]},"address1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address1","description":"Property address line.","examples":["65 Giants Grave Road Briton Ferry"]},"street_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Street Name","description":"Street name.","examples":["Giants Grave Road"]},"brand_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Brand Name","description":"Estate agent brand name.","examples":["Peter Alan"]},"branch_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Name","description":"Estate agent branch name.","examples":["Neath"]},"portal":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Portal","description":"Property portal (Rightmove or Zoopla).","examples":["Rightmove"]},"portal_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Portal Url","description":"URL to the property listing on the portal.","examples":["www.rightmove.co.uk/properties/149097560"]},"portal_images":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Portal Images","description":"Portal image URL(s), pipe-separated if multiple.","examples":["https://media.rightmove.co.uk:443/dir/crop/10:9-16:9/64k/63605/149097560/63605_NTH307526_IMG_08_0000_max_476x317.jpeg"]},"image_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Url","description":"Primary property image URL.","examples":["https://housevault-images.s3.eu-west-2.amazonaws.com/selling_property/house_selling_image/149097560_RMP.jpg"]},"image2_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image2 Url","description":"Secondary property image URL.","examples":[null]},"image3_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image3 Url","description":"Tertiary property image URL.","examples":[null]},"imageFLP_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Imageflp Url","description":"Floor plan image URL.","examples":[null]},"listing_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Listing Id","description":"Listing ID with portal suffix (e.g. RS=Rightmove Sale, ZS=Zoopla Sale).","examples":["149097560RS"]},"brand_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Brand Id","description":"Hashed brand identifier with portal suffix.","examples":["257248922834b8416908517c6946d153_RM"]},"auction_property":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Auction Property","description":"Whether this is an auction property.","examples":[false]},"probate_property":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Probate Property","description":"Whether this is a probate property.","examples":[false]},"discount_property":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Discount Property","description":"Whether this is a discount/below-market property.","examples":[false]},"investment_property":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Investment Property","description":"Whether this is an investment property.","examples":[false]},"HMO_property":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Hmo Property","description":"Whether this is a House in Multiple Occupation.","examples":[false]},"owned_by_company":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Owned By Company","description":"Whether the property is owned by a company.","examples":[false]},"company_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Name","description":"Owning company name, if applicable.","examples":[null]},"company_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Number","description":"Companies House number, if applicable.","examples":[null]},"cluster_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cluster Id","description":"Cluster identifier for property grouping.","examples":[8754355]},"construction_age_band_std":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Construction Age Band Std","description":"Construction age band (e.g. 'before 1900', '1950-1966').","examples":["before 1900"]},"current_energy_rating":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Energy Rating","description":"Current EPC energy rating (A–G).","examples":["D"]},"title_number_list":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Title Number List","description":"List of Land Registry title numbers.","examples":[[]]}},"type":"object","title":"GetComparableOutput","description":"Output schema for get_comparable endpoint (documentation only).\nEach item in the response list represents a comparable property.\nData comes from the external comparables API, not MySQL.\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"HMO_property":false,"address1":"65 Giants Grave Road Briton Ferry","address_id":23360816,"auction_property":false,"branch_name":"Neath","brand_id":"257248922834b8416908517c6946d153_RM","brand_name":"Peter Alan","built_form":"semi_detached","cluster_id":8754355,"construction_age_band_std":"before 1900","current_energy_rating":"D","current_status":"Archive_from_sold","discount_property":false,"distance":0.3204,"first_listed_date":"2024-06-13","image_url":"https://housevault-images.s3.eu-west-2.amazonaws.com/selling_property/house_selling_image/149097560_RMP.jpg","investment_property":false,"land_register_discount":1.008,"land_register_sold_date":"2022-10-20","land_register_sold_price":126000,"lat":51.6387512,"latest_event_date":"2025-09-13","listing_id":"149097560RS","lng":-3.8269186,"num_beds":3,"number_of_bathrooms":1,"number_of_reception_rooms":1,"owned_by_company":false,"plot_size":78,"portal":"Rightmove","portal_images":"https://media.rightmove.co.uk:443/dir/crop/10:9-16:9/64k/63605/149097560/63605_NTH307526_IMG_08_0000_max_476x317.jpeg","portal_url":"www.rightmove.co.uk/properties/149097560","postcode":"SA11 2LN","price":105000,"price_per_bedroom":35000,"price_per_sqm":1346,"probate_property":false,"property_type":"house","similarity":41.0,"sold_date":"2025-05-17","street_name":"Giants Grave Road","tenure":"Freehold","time_to_sell":338,"title_number_list":[],"total_floor_area":78,"uprn":100100596913}]},"GetDistributionGraphDataOutput":{"properties":{"labels":{"items":{},"type":"array","title":"Labels","description":"Dynamic price range labels (10 buckets) based on the min/max selling valuations in the area.","examples":[["£350k-£420k","£420k-£490k","£490k-£560k","£560k-£630k","£630k-£700k","£700k-£770k","£770k-£840k","£840k-£910k","£910k-£980k","£980k-£1.05M"]],"mysql_type":"N/A — computed"},"data":{"items":{},"type":"array","title":"Data","description":"Property counts for each dynamic price range bucket.","examples":[[45,82,156,210,285,198,142,95,62,38]],"mysql_type":"N/A — computed"},"s_labels":{"items":{},"type":"array","title":"S Labels","description":"Fixed price range labels in £100k increments from £0 to >£1M.","examples":[["£0-£100k","£100k-£200k","£200k-£300k","£300k-£400k","£400k-£500k","£500k-£600k","£600k-£700k","£700k-£800k","£800k-£900k","£900k-£1M",">£1M"]],"mysql_type":"N/A — computed"},"s_data":{"items":{},"type":"array","title":"S Data","description":"Property counts for each fixed price range bucket.","examples":[[5,12,28,65,142,258,312,245,185,120,380]],"mysql_type":"N/A — computed"}},"type":"object","required":["labels","data","s_labels","s_data"],"title":"GetDistributionGraphDataOutput","description":"Output schema for get_distribution_graph_data endpoint (documentation only).\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"data":[45,82,156,210,285,198,142,95,62,38],"labels":["£350k-£420k","£420k-£490k","£490k-£560k","£560k-£630k","£630k-£700k","£700k-£770k","£770k-£840k","£840k-£910k","£910k-£980k","£980k-£1.05M"],"s_data":[5,12,28,65,142,258,312,245,185,120,380],"s_labels":["£0-£100k","£100k-£200k","£200k-£300k","£300k-£400k","£400k-£500k","£500k-£600k","£600k-£700k","£700k-£800k","£800k-£900k","£900k-£1M",">£1M"]}]},"GetEpcFabricOutput":{"properties":{"LMK_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lmk Key","description":"Primary unique identifier for the EPC record.","examples":["1234567890123456789012345678901234567890"],"mysql_type":"VARCHAR(100)"},"address_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address Id","description":"Internal property code key; also known as property_id.","examples":["19436848"],"mysql_type":"VARCHAR(50)"},"address_1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address 1","description":"First line of address (combination of Soan + Poan + Throughfair).","examples":["Flat 2, 14 Belsize Park"],"mysql_type":"VARCHAR(255)"},"address_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address 2","description":"Second line of address (e.g., village name).","examples":[""],"mysql_type":"VARCHAR(255)"},"address_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address 3","description":"Town.","examples":["LONDON"],"mysql_type":"VARCHAR(255)"},"postcode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postcode","description":"The UK postcode associated with the property address.","examples":["NW3 1AA"],"mysql_type":"VARCHAR(10)"},"building_reference_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Building Reference Number","description":"Reference number of the building for mail.","examples":["10091866843"],"mysql_type":"VARCHAR(50)"},"current_energy_rating":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Energy Rating","description":"Current EPC rating (A-G).","examples":["D"],"mysql_type":"VARCHAR(5)"},"potential_energy_rating":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Potential Energy Rating","description":"Potential EPC rating after recommended improvements.","examples":["B"],"mysql_type":"VARCHAR(5)"},"current_energy_efficiency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Energy Efficiency","description":"Current Energy Efficiency numerical value.","examples":["58"],"mysql_type":"VARCHAR(10)"},"potential_energy_efficiency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Potential Energy Efficiency","description":"Potential Energy Efficiency numerical value.","examples":["82"],"mysql_type":"VARCHAR(10)"},"inspection_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inspection Date","description":"The date the EPC inspection took place.","examples":["2021-06-15"],"mysql_type":"DATE"},"local_authority":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Local Authority","description":"Name of the local authority.","examples":["Camden"],"mysql_type":"VARCHAR(100)"},"constituency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Constituency","description":"Constituency catchment area.","examples":["Hampstead and Kilburn"],"mysql_type":"VARCHAR(100)"},"county":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"County","description":"County where the address is located.","examples":["Greater London"],"mysql_type":"VARCHAR(100)"},"lodgement_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lodgement Date","description":"Date the EPC was registered/lodged.","examples":["2021-06-22"],"mysql_type":"DATE"},"transaction_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transaction Type","description":"Reason for EPC (e.g., Rental, New Build, Property Sale).","examples":["marketed sale"],"mysql_type":"VARCHAR(50)"},"environment_impact_current":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Environment Impact Current","description":"Current Environmental Impact Rating (CO2 emissions in tonnes/year).","examples":["45"],"mysql_type":"VARCHAR(10)"},"environment_impact_potential":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Environment Impact Potential","description":"Potential Environmental Impact Rating after improvements.","examples":["78"],"mysql_type":"VARCHAR(10)"},"energy_consumption_current":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Energy Consumption Current","description":"Current estimated annual energy consumption (kWh/m2).","examples":["215"],"mysql_type":"VARCHAR(10)"},"energy_consumption_potential":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Energy Consumption Potential","description":"Potential estimated annual energy consumption (kWh/m2).","examples":["98"],"mysql_type":"VARCHAR(10)"},"co2_emissions_current":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Co2 Emissions Current","description":"CO2 emissions per year in tonnes/year.","examples":["2.8"],"mysql_type":"VARCHAR(10)"},"co2_emiss_curr_per_floor_area":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Co2 Emiss Curr Per Floor Area","description":"CO2 emissions per m2 floor area per year in kg/m2.","examples":["42"],"mysql_type":"VARCHAR(10)"},"co2_emissions_potential":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Co2 Emissions Potential","description":"Estimated potential total annual CO2 emissions (Tonnes/Year).","examples":["1.2"],"mysql_type":"VARCHAR(10)"},"lighting_cost_current":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lighting Cost Current","description":"Current estimated annual energy costs for lighting (GBP).","examples":[92.0],"mysql_type":"DECIMAL(12,2)"},"lighting_cost_potential":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lighting Cost Potential","description":"Potential estimated annual energy costs for lighting (GBP).","examples":[52.0],"mysql_type":"DECIMAL(12,2)"},"heating_cost_current":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Heating Cost Current","description":"Current estimated annual energy costs for heating (GBP).","examples":[680.0],"mysql_type":"DECIMAL(12,2)"},"heating_cost_potential":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Heating Cost Potential","description":"Potential annual energy costs for heating (GBP).","examples":[320.0],"mysql_type":"DECIMAL(12,2)"},"hot_water_cost_current":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Hot Water Cost Current","description":"Current estimated annual energy costs for hot water (GBP).","examples":[185.0],"mysql_type":"DECIMAL(12,2)"},"hot_water_cost_potential":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Hot Water Cost Potential","description":"Potential estimated annual energy costs for hot water (GBP).","examples":[95.0],"mysql_type":"DECIMAL(12,2)"},"total_floor_area":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Total Floor Area","description":"Total useful floor area (m2) measured internally.","examples":["67"],"mysql_type":"VARCHAR(20)"},"energy_tariff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Energy Tariff","description":"Type of electricity tariff (e.g., single or dual).","examples":["Single"],"mysql_type":"VARCHAR(50)"},"mains_gas_flag":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mains Gas Flag","description":"Indicates if mains gas is available (Yes/No).","examples":["Y"],"mysql_type":"VARCHAR(5)"},"floor_level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Floor Level","description":"Floor level relative to lowest level (0 for ground floor).","examples":["1"],"mysql_type":"VARCHAR(20)"},"flat_top_storey":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Flat Top Storey","description":"Whether the flat is on the top storey (Yes/No).","examples":["N"],"mysql_type":"VARCHAR(5)"},"flat_storey_count":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Flat Storey Count","description":"The total number of storeys in the apartment block.","examples":["3"],"mysql_type":"VARCHAR(10)"},"main_heating_controls":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Main Heating Controls","description":"Type of main heating controls present.","examples":["Programmer, room thermostat and TRVs"],"mysql_type":"VARCHAR(100)"},"multi_glaze_proportion":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Multi Glaze Proportion","description":"Estimated percentage range of total glazed area that is multi-glazed.","examples":["100"],"mysql_type":"VARCHAR(20)"},"glazed_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Glazed Type","description":"Type of glazing (single, double, or triple).","examples":["double glazing"],"mysql_type":"VARCHAR(20)"},"glazed_area":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Glazed Area","description":"Ranged estimate of total glazed area of the habitable area.","examples":["Normal"],"mysql_type":"VARCHAR(50)"},"extension_count":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Extension Count","description":"Raw count of extensions to the property.","examples":["0"],"mysql_type":"VARCHAR(10)"},"number_habitable_rooms":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Number Habitable Rooms","description":"Count of habitable rooms (excludes kitchens/bathrooms).","examples":["4"],"mysql_type":"VARCHAR(10)"},"number_heated_rooms":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Number Heated Rooms","description":"Count of rooms with active heating.","examples":["4"],"mysql_type":"VARCHAR(10)"},"low_energy_lighting":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Low Energy Lighting","description":"Percentage of fixed lights that are low-energy.","examples":["75"],"mysql_type":"VARCHAR(10)"},"number_open_fireplaces":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Number Open Fireplaces","description":"The number of active open fireplaces in the property.","examples":["0"],"mysql_type":"VARCHAR(10)"},"hotwater_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hotwater Description","description":"Overall description of the hot water system.","examples":["From main system"],"mysql_type":"VARCHAR(255)"},"hot_water_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hot Water Energy Eff","description":"Energy efficiency rating for hot water (1 to 5 stars).","examples":["Good"],"mysql_type":"VARCHAR(20)"},"hot_water_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hot Water Env Eff","description":"Environmental efficiency rating for hot water (1 to 5 stars).","examples":["Good"],"mysql_type":"VARCHAR(20)"},"floor_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Floor Description","description":"Overall description of the floor construction.","examples":["Suspended, no insulation (assumed)"],"mysql_type":"VARCHAR(255)"},"floor_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Floor Energy Eff","description":"Energy efficiency rating for floors (1 to 5 stars).","examples":["Poor"],"mysql_type":"VARCHAR(20)"},"floor_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Floor Env Eff","description":"Environmental efficiency rating for floors (1 to 5 stars).","examples":["Poor"],"mysql_type":"VARCHAR(20)"},"windows_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Windows Description","description":"Overall description of windows/glazing features.","examples":["Fully double glazed"],"mysql_type":"VARCHAR(255)"},"windows_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Windows Energy Eff","description":"Energy efficiency rating for windows (1 to 5 stars).","examples":["Average"],"mysql_type":"VARCHAR(20)"},"windows_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Windows Env Eff","description":"Environmental efficiency rating for windows (1 to 5 stars).","examples":["Average"],"mysql_type":"VARCHAR(20)"},"walls_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Walls Description","description":"Description of wall construction (e.g., cavity, solid).","examples":["Solid brick, as built, no insulation (assumed)"],"mysql_type":"VARCHAR(255)"},"walls_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Walls Energy Eff","description":"Energy efficiency rating for walls (1 to 5 stars).","examples":["Very Poor"],"mysql_type":"VARCHAR(20)"},"walls_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Walls Env Eff","description":"Environmental efficiency rating for walls (1 to 5 stars).","examples":["Very Poor"],"mysql_type":"VARCHAR(20)"},"secondheat_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Secondheat Description","description":"Method used for secondary heating, if any.","examples":["None"],"mysql_type":"VARCHAR(255)"},"sheating_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sheating Energy Eff","description":"Energy efficiency rating for secondary heating.","examples":["N/A"],"mysql_type":"VARCHAR(20)"},"sheating_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sheating Env Eff","description":"Environmental efficiency rating for secondary heating.","examples":["N/A"],"mysql_type":"VARCHAR(20)"},"roof_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Roof Description","description":"Description of roof and insulation status.","examples":["Pitched, 100 mm loft insulation"],"mysql_type":"VARCHAR(255)"},"roof_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Roof Energy Eff","description":"Energy efficiency rating for the roof.","examples":["Average"],"mysql_type":"VARCHAR(20)"},"roof_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Roof Env Eff","description":"Environmental efficiency rating for the roof.","examples":["Average"],"mysql_type":"VARCHAR(20)"},"mainheat_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mainheat Description","description":"Description of the primary source of heating.","examples":["Boiler and radiators, mains gas"],"mysql_type":"VARCHAR(255)"},"mainheat_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mainheat Energy Eff","description":"Energy efficiency rating for main heating.","examples":["Good"],"mysql_type":"VARCHAR(20)"},"mainheat_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mainheat Env Eff","description":"Environmental efficiency rating for main heating.","examples":["Good"],"mysql_type":"VARCHAR(20)"},"mainheatcont_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mainheatcont Description","description":"Description of main heating controls.","examples":["Programmer, room thermostat and TRVs"],"mysql_type":"VARCHAR(255)"},"mainheatc_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mainheatc Energy Eff","description":"Energy efficiency rating for main heating controls.","examples":["Good"],"mysql_type":"VARCHAR(20)"},"mainheatc_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mainheatc Env Eff","description":"Environmental efficiency rating for main heating controls.","examples":["Good"],"mysql_type":"VARCHAR(20)"},"lighting_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lighting Description","description":"Description of fixed lighting outlets.","examples":["Low energy lighting in 75% of fixed outlets"],"mysql_type":"VARCHAR(255)"},"lighting_energy_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lighting Energy Eff","description":"Energy efficiency rating for lighting.","examples":["Good"],"mysql_type":"VARCHAR(20)"},"lighting_env_eff":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lighting Env Eff","description":"Environmental efficiency rating for lighting.","examples":["Good"],"mysql_type":"VARCHAR(20)"},"main_fuel":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Main Fuel","description":"Primary fuel type for central heating (e.g., Gas).","examples":["Mains gas (not community)"],"mysql_type":"VARCHAR(100)"},"wind_turbine_count":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Wind Turbine Count","description":"Number of wind turbines present at the property.","examples":["0"],"mysql_type":"VARCHAR(10)"},"heat_loss_corridoor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Heat Loss Corridoor","description":"Presence and type of heat loss corridor (flats only).","examples":["no corridor"],"mysql_type":"VARCHAR(50)"},"unheated_corridor_length":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unheated Corridor Length","description":"Length of sheltered wall in unheated corridor (m).","examples":["0"],"mysql_type":"VARCHAR(20)"},"floor_height":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Floor Height","description":"Average height of the storey in metres.","examples":["2.4"],"mysql_type":"VARCHAR(10)"},"photo_supply":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Photo Supply","description":"Size of photovoltaic installation (kW).","examples":["0"],"mysql_type":"VARCHAR(20)"},"solar_water_heating_flag":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Solar Water Heating Flag","description":"Indicates if hot water is solar powered.","examples":["N"],"mysql_type":"VARCHAR(5)"},"mechanical_ventilation":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mechanical Ventilation","description":"Type of mechanical ventilation used in the property.","examples":["natural"],"mysql_type":"VARCHAR(100)"},"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address","description":"Concatenated address (Address 1 + 2 + 3).","examples":["Flat 2, 14 Belsize Park, LONDON"],"mysql_type":"VARCHAR(255)"},"local_authority_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Local Authority Label","description":"Descriptive name of the local authority.","examples":["London Borough of Camden"],"mysql_type":"VARCHAR(255)"},"constituency_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Constituency Label","description":"Descriptive name of the parliamentary constituency.","examples":["Hampstead and Kilburn"],"mysql_type":"VARCHAR(255)"},"property_age":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Property Age","description":"Estimated age of the property (Standardized).","examples":["1900-1929"],"mysql_type":"VARCHAR(50)"},"recent_extension":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Recent Extension","description":"Property extension count; returns 'Unknown' if null.","examples":["0"],"mysql_type":"VARCHAR(10)"},"roof_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Roof Type","description":"Standardized classification of the roof structure.","examples":["Pitched"],"mysql_type":"VARCHAR(50)"},"conservatory":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Conservatory","description":"Presence and type of conservatory; returns 'Unknown' if null.","examples":["Unknown"],"mysql_type":"VARCHAR(50)"}},"type":"object","title":"GetEpcFabricOutput","description":"Output schema for EPC fabric endpoints (documentation only).\nDo NOT use as response_model — return plain dicts from endpoints.","examples":[{"LMK_key":"1234567890123456789012345678901234567890","address":"Flat 2, 14 Belsize Park, LONDON","address_1":"Flat 2, 14 Belsize Park","address_2":"","address_3":"LONDON","address_id":"19436848","building_reference_number":"10091866843","co2_emiss_curr_per_floor_area":"42","co2_emissions_current":"2.8","co2_emissions_potential":"1.2","conservatory":"Unknown","constituency":"Hampstead and Kilburn","constituency_label":"Hampstead and Kilburn","county":"Greater London","current_energy_efficiency":"58","current_energy_rating":"D","energy_consumption_current":"215","energy_consumption_potential":"98","energy_tariff":"Single","environment_impact_current":"45","environment_impact_potential":"78","extension_count":"0","flat_storey_count":"3","flat_top_storey":"N","floor_description":"Suspended, no insulation (assumed)","floor_energy_eff":"Poor","floor_env_eff":"Poor","floor_height":"2.4","floor_level":"1","glazed_area":"Normal","glazed_type":"double glazing","heat_loss_corridoor":"no corridor","heating_cost_current":680.0,"heating_cost_potential":320.0,"hot_water_cost_current":185.0,"hot_water_cost_potential":95.0,"hot_water_energy_eff":"Good","hot_water_env_eff":"Good","hotwater_description":"From main system","inspection_date":"2021-06-15","lighting_cost_current":92.0,"lighting_cost_potential":52.0,"lighting_description":"Low energy lighting in 75% of fixed outlets","lighting_energy_eff":"Good","lighting_env_eff":"Good","local_authority":"Camden","local_authority_label":"London Borough of Camden","lodgement_date":"2021-06-22","low_energy_lighting":"75","main_fuel":"Mains gas (not community)","main_heating_controls":"Programmer, room thermostat and TRVs","mainheat_description":"Boiler and radiators, mains gas","mainheat_energy_eff":"Good","mainheat_env_eff":"Good","mainheatc_energy_eff":"Good","mainheatc_env_eff":"Good","mainheatcont_description":"Programmer, room thermostat and TRVs","mains_gas_flag":"Y","mechanical_ventilation":"natural","multi_glaze_proportion":"100","number_habitable_rooms":"4","number_heated_rooms":"4","number_open_fireplaces":"0","photo_supply":"0","postcode":"NW3 1AA","potential_energy_efficiency":"82","potential_energy_rating":"B","property_age":"1900-1929","recent_extension":"0","roof_description":"Pitched, 100 mm loft insulation","roof_energy_eff":"Average","roof_env_eff":"Average","roof_type":"Pitched","secondheat_description":"None","sheating_energy_eff":"N/A","sheating_env_eff":"N/A","solar_water_heating_flag":"N","total_floor_area":"67","transaction_type":"marketed sale","unheated_corridor_length":"0","walls_description":"Solid brick, as built, no insulation (assumed)","walls_energy_eff":"Very Poor","walls_env_eff":"Very Poor","wind_turbine_count":"0","windows_description":"Fully double glazed","windows_energy_eff":"Average","windows_env_eff":"Average"}]},"GetHpiOutput":{"properties":{"level":{"type":"string","title":"Level","description":"Geographic level of the data: 'Authority' or 'Region'.","examples":["Authority"],"mysql_type":"VARCHAR(20)"},"stat_month":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stat Month","description":"The year and month to which the monthly statistics apply.","examples":["2025-11"],"mysql_type":"VARCHAR(20)"},"region_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Region Name","description":"Name of geography (Country, Regional, County/Unitary/District Authority and London Borough).","examples":["Camden"],"mysql_type":"VARCHAR(100)"},"area_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Area Code","description":"Code of geography (Country, Regional, County/Unitary/District Authority and London Borough).","examples":["E09000007"],"mysql_type":"VARCHAR(20)"},"avg_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Price","description":"Average house price for a geography in a particular period.","examples":["785420"],"mysql_type":"VARCHAR(50)"},"hpi_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Hpi Index","description":"House price index for a geography in a particular period (January 2015=100).","examples":[142.8],"mysql_type":"FLOAT"},"hpi_index_sa":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hpi Index Sa","description":"Seasonally adjusted house price index (January 2015=100).","examples":["141.5"],"mysql_type":"VARCHAR(50)"},"change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Change 1M","description":"Percentage change in Average Price compared to previous month.","examples":["0.8"],"mysql_type":"VARCHAR(50)"},"change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Change 12M","description":"Percentage change in Average Price compared to same period twelve months earlier.","examples":["3.2"],"mysql_type":"VARCHAR(50)"},"avg_price_sa":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Avg Price Sa","description":"Seasonally adjusted Average Price for a geography in a particular period.","examples":["780150"],"mysql_type":"VARCHAR(50)"},"sales_volume":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sales Volume","description":"Number of registered transactions for a geography in a particular period.","examples":["245"],"mysql_type":"VARCHAR(50)"},"detached_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detached Price","description":"Average house price for a Detached House.","examples":["2450000"],"mysql_type":"VARCHAR(50)"},"detached_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Detached Index","description":"House price index for Detached House (January 2015=100).","examples":[138.5],"mysql_type":"FLOAT"},"detached_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detached Change 1M","description":"Percentage change in Detached Price compared to previous month.","examples":["0.5"],"mysql_type":"VARCHAR(50)"},"detached_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detached Change 12M","description":"Percentage change in Detached Price compared to same period twelve months earlier.","examples":["2.8"],"mysql_type":"VARCHAR(50)"},"semidetached_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Semidetached Price","description":"Average house price for a Semi-Detached House.","examples":["1350000"],"mysql_type":"VARCHAR(50)"},"semidetached_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Semidetached Index","description":"House price index for Semi-Detached House (January 2015=100).","examples":[145.2],"mysql_type":"FLOAT"},"semidetached_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Semidetached Change 1M","description":"Percentage change in Semi-Detached Price compared to previous month.","examples":["0.9"],"mysql_type":"VARCHAR(50)"},"semidetached_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Semidetached Change 12M","description":"Percentage change in Semi-Detached Price compared to same period twelve months earlier.","examples":["3.5"],"mysql_type":"VARCHAR(50)"},"terraced_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Terraced Price","description":"Average house price for a Terraced House.","examples":["1150000"],"mysql_type":"VARCHAR(50)"},"terraced_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Terraced Index","description":"House price index for Terraced House (January 2015=100).","examples":[148.6],"mysql_type":"FLOAT"},"terraced_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Terraced Change 1M","description":"Percentage change in Terraced Price compared to previous month.","examples":["1.1"],"mysql_type":"VARCHAR(50)"},"terraced_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Terraced Change 12M","description":"Percentage change in Terraced Price compared to same period twelve months earlier.","examples":["4.0"],"mysql_type":"VARCHAR(50)"},"flat_maisonette_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Flat Maisonette Price","description":"Average house price for a Flat/Maisonette.","examples":["625000"],"mysql_type":"VARCHAR(50)"},"flat_maisonette_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Flat Maisonette Index","description":"House price index for Flat/Maisonette (January 2015=100).","examples":[135.8],"mysql_type":"FLOAT"},"flat_maisonette_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Flat Maisonette Change 1M","description":"Percentage change in Flat Price compared to previous month.","examples":["0.6"],"mysql_type":"VARCHAR(50)"},"flat_maisonette_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Flat Maisonette Change 12M","description":"Percentage change in Flat Price compared to same period twelve months earlier.","examples":["2.5"],"mysql_type":"VARCHAR(50)"},"cash_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cash Price","description":"Average house price by funding status 'CASH'.","examples":["820000"],"mysql_type":"VARCHAR(50)"},"cash_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cash Index","description":"House price index by funding status 'CASH' (January 2015=100).","examples":[140.2],"mysql_type":"FLOAT"},"cash_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cash Change 1M","description":"Percentage change in Cash Price compared to previous month.","examples":["0.7"],"mysql_type":"VARCHAR(50)"},"cash_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cash Change 12M","description":"Percentage change in Cash Price compared to same period twelve months earlier.","examples":["2.9"],"mysql_type":"VARCHAR(50)"},"cash_sales_volume":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cash Sales Volume","description":"Number of registered transactions 'CASH'.","examples":["85"],"mysql_type":"VARCHAR(50)"},"mortgage_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mortgage Price","description":"Average house price by funding status 'MORTGAGE'.","examples":["765000"],"mysql_type":"VARCHAR(50)"},"mortgage_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Mortgage Index","description":"House price index by funding status 'MORTGAGE' (January 2015=100).","examples":[144.5],"mysql_type":"FLOAT"},"mortgage_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mortgage Change 1M","description":"Percentage change in Mortgage Price compared to previous month.","examples":["0.9"],"mysql_type":"VARCHAR(50)"},"mortgage_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mortgage Change 12M","description":"Percentage change in Mortgage Price compared to same period twelve months earlier.","examples":["3.4"],"mysql_type":"VARCHAR(50)"},"mortgage_sales_volume":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mortgage Sales Volume","description":"Number of registered transactions 'MORTGAGE'.","examples":["160"],"mysql_type":"VARCHAR(50)"},"ftb_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ftb Price","description":"Average house price by buyer status 'first time buyer'.","examples":["545000"],"mysql_type":"VARCHAR(50)"},"ftb_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Ftb Index","description":"House price index by buyer status 'first time buyer' (January 2015=100).","examples":[152.3],"mysql_type":"FLOAT"},"ftb_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ftb Change 1M","description":"Percentage change in FTB Price compared to previous month.","examples":["1.2"],"mysql_type":"VARCHAR(50)"},"ftb_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ftb Change 12M","description":"Percentage change in FTB Price compared to same period twelve months earlier.","examples":["4.5"],"mysql_type":"VARCHAR(50)"},"foo_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Foo Price","description":"Average house price by buyer status 'former owner occupier'.","examples":["895000"],"mysql_type":"VARCHAR(50)"},"foo_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Foo Index","description":"House price index by buyer status 'former owner occupier' (January 2015=100).","examples":[138.9],"mysql_type":"FLOAT"},"foo_change_1m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Foo Change 1M","description":"Percentage change in FOO Price compared to previous month.","examples":["0.6"],"mysql_type":"VARCHAR(50)"},"foo_change_12m":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Foo Change 12M","description":"Percentage change in FOO Price compared to same period twelve months earlier.","examples":["2.7"],"mysql_type":"VARCHAR(50)"},"new_price":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"New Price","description":"Average house price by property status 'new build'.","examples":["920000"],"mysql_type":"VARCHAR(50)"},"new_index":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"New Index","descr
[...]
